<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>JessChess game</title>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <div id="gameBody">
            <h1>JessChess Game</h1>
            <h2 id="error"></h2>
            Chosen piece: <div id="ch">none</div>
            <div id="board">

            </div>
            <p>For now, this is not game for stranger vs stranger. Every player can move pieces like whatever they want.</p>
            <p>So be aware.</p>
            <b>Sprite copyright: CC-BY-SA-3.0, tgstation at commit https://github.com/tgstation/tgstation/commit/3edffc96061f135b836bc353ee29ad9ab220fa54</b>
            <br/>
            <b>Font copyright: OFL, Igino Marini</b>
            <br/>
            <button id="save" onclick="save()">Save game</button>
            <script src="game_script.js"></script>
        </div>
    </body>
</html>