<!DOCTYPE html>
<html>
    <head>
        <title>JessChess game</title>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <h1>JessChess Game</h1>
        Chosen piece: <div id="ch">none</div>
        <div id="board">

        </div>
        <p>For now, this is not game for stranger vs stranger. Every player can move pieces like whatever they want.</p>
        <p>So be aware.</p>
        <br/>
        <button onclick="save()">Save game</button>
        <script src="game_script.js"></script>
    </body>
</html>